html,

.header{
    background: white;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 10;
    height: 70px;
}
.logo{
    float: left;
    margin-top: 20px;
    margin-left: 50px;
    height: 150px;
    width: 150px;
    background-image: unset;
}
.nav{
    float: right;
}
.nav a{
    color: darkslategray;
    text-decoration: none;
}
.nav li{
    font-size: 20px;
    float: left;
    margin-left: 20px;
    list-style: none;
    padding-top: 30px;
    margin-right: 20px;
}
.search{
    float: right;
    height: 40px;
    border: none;
}
.search input[type="text"]{
    border: none;
    float: left;
    width: 200px;
    margin-right: 20px;
    line-height: 40px;
    outline-color: none;
    margin-top: 20px;
}
.search a{
    background: #00CC00;
    margin-top: 50px;
}
.search i{
    margin-top: 50px;
}
.fa-search{
    margin-top: 30px;
    padding-right: 10px;
    float: right;
}
@media (min-width: 10px) and (max-width: 992px) {
    .logo{
        float: left;
        margin-top: 15px;
        margin-left: 5px;
    }
    .header{
        height: 70px;
    }
    .nav{
        float: right;
        margin-top: 10px;
        font-size: 13px;
        padding-left: -20px;
    }
    .search{
        margin-top:-5px;
    }
    .fa-search{
        margin-top: 30px;
        padding-left: 5px;
        padding-left: 5px;
        float: left;
    }
    

    .nav-next, .nav-arrow, .nav-arrow label{
            float: right;
            margin-right: 520px;
            margin-top: 20px;
                    }
}

* {
    padding:0;
    margin:0;
}

img {
    max-width: 100%;
    height: auto;
    border-style: none;
}
ul,ol {
    list-style-type: none;
}
/* end css reset */

.footer{
    width: auto;
    height: 30px;
    background-color: #22222;
}
.footer h5 {
    padding-top: 80px;
    margin-left: 550px;
    color: whitesmoke;
    position: center;
}
a{
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
}
a:hover{
    color: gainsboro;
}

body {
    width: 100%;
    height: 900px;
    margin: auto;
    opacity: 5px;
    background-size: cover;
}

.soal{
    width: 100%;
    height: 500px;
    padding-top: 150px;
    background-image:url("../image/UNILA.png");
}

#tkpa {
    font-size: 25px;
    font-family: sans-serif;
    box-shadow: 2px 10px 5px rgba(0,0,0,0.8);
    margin-top: 50px;
    border-radius: 20px;
    width: 25%;
    height: 300px;
    background: #87CEEB;
    display: inline-block;
    margin-left: 100px;
}
#tkpa h1 {
    text-align: center; 
    line-height: 300px;
    color: white;
}
#tkpa:hover{
    background-color: #71c5e7;
}

#soshum{
    font-size: 25px;
    font-family: sans-serif;
    box-shadow: 2px 10px 5px rgba(0,0,0,0.8);
    border-radius: 20px;
    width: 25%;
    height: 300px;
    background: #FFC0CB;
    display: inline-block;
    margin-left: 100px;
    margin-top: 50px;
}
#soshum h1{
    text-align: center;
    line-height: 300px;
    color: white;
}
#soshum:hover{
    background-color: #ffa7b6;
}
#saintek{
    font-size: 25px;
    font-family: sans-serif;
    box-shadow: 2px 10px 5px rgba(0,0,0,0.8);
    border-radius: 20px;
    width: 25%;
    height: 300px;
    background: #20B2AA;
    display: inline-block;
    margin-left: 100px;
    color: white;
    margin-top: 50px;
}
#saintek h1{
    text-align: center;
    line-height: 300px;
}

#saintek:hover{
    background-color: #1c9c95;
}
.footerr{
    height: 150px;
    width: auto;
    background-color: black;
}